/* Centralizar o conteúdo na página e alinhar ao centro */
html, body {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centraliza os itens horizontalmente */
    justify-content: center; /* Centraliza os itens verticalmente */
    font-family: Arial, sans-serif;
}

/* Centralizar o título no topo da página */
.div_titulo {
    font-size: 28px;
    color: #333;
    margin: 20px 0; /* Espaço em torno do título */
    text-align: center;
    width: 100%; /* Garante que o título ocupe a largura total */
    max-width: 600px; /* Limita a largura máxima do título */
}

/* Contêiner principal com alinhamento ao centro e espaçamento */
.container {
    width: 600px;
    max-width: 600px; /* Largura máxima do contêiner principal */
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra leve para destaque */
    border-radius: 8px;
    background-color: #fff; /* Fundo branco para o contêiner */
}

/* Estilo dos labels */
label {
    display: block;
    margin-bottom: 8px;
    font-size: 18px;
}

/* Estilo dos campos de entrada */
input[type="text"], input[type="date"], input[type="email"], textarea {
    width: 100%;
    max-width: 100%; /* Garante que o campo de entrada não exceda a largura do contêiner */
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    /*box-sizing: border-box; /* Inclui o padding e a borda na largura total */
}

.input_telefone{
    width: 100%;
    max-width: 100%; 
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
}

/* Estilo dos botões */
button, input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 12px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

/* Botão de adicionar referência */
button.button {
    background-color: #28a745;
}

button.button:hover {
    background-color: #218838;
    transform: scale(1.05);
}

/* Botão de remover referência */
button.button:nth-of-type(2) {
    background-color: #dc3545;
}

button.button:nth-of-type(2):hover {
    background-color: #c82333;
    transform: scale(1.05);
}

/* Botão de envio */
input[type="submit"]:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}
